.App {
  min-height: 100vh;
}

/* Custom animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* Spinner animation for loading states use in teacher modal*/
.fa-spinner.spin {
  animation: spinner-rotation 1s infinite linear;
}

@keyframes spinner-rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* Aspect ratio utilities for attendance monitor */
.aspect-w-1,
.aspect-w-4 {
  position: relative;
  padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
}

.aspect-w-1 > *,
.aspect-w-4 > * {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.aspect-w-1 {
  --tw-aspect-w: 1;
}

.aspect-h-1 {
  --tw-aspect-h: 1;
}

.aspect-w-4 {
  --tw-aspect-w: 4;
}

.aspect-h-5 {
  --tw-aspect-h: 5;
}
